RewriteEngine On

# fix multiple rewrite
RewriteCond %{ENV:REDIRECT_STATUS} 200
RewriteRule .* - [L]

# remove www
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1%{REQUEST_URI} [R=301,QSA,NC,L]

# block root folders and files
RewriteRule ^(.git)(.*)$ - [F]
RewriteRule ^(.gitignore)$ - [F]

# web pages
RewriteRule ^([13]{1}[a-km-zA-HJ-NP-Z1-9]{26,33}|bc1[a-z0-9]{39,59})/(([0-9]+)(\.[0-9]+)?([seug]?))$ index.php?address=$1&amount=$2 [L,QSA]
RewriteRule ^([13]{1}[a-km-zA-HJ-NP-Z1-9]{26,33}|bc1[a-z0-9]{39,59})$ index.php?address=$1 [L,QSA]
RewriteRule ^$ index.php [L]

# redirect any other page to home
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* / [L,R=301]